@bbpress-contrast = darken( @pl-base, @invert-dark  );


.bbp-topic-title a{
	color: @pl-text;
}


.odd {	
	background-color: @bbpress-contrast;

}

table.bbp-forums th, table.bbp-topics th,
table.bbp-topic th, table.bbp-replies th {
	background-color: @bbpress-contrast;
}

#content table tbody tr.odd td {
	background-color: lighten(@bbpress-contrast, 4);
}

#content table tbody tr.even td {
	background-color: lighten(@bbpress-contrast, 7);
}

#content table.bbp-forums tfoot td, #content table.bbp-topics tfoot td,
#content table.bbp-topic tfoot td, #content table.bbp-replies tfoot td,
#content table.bbp-replies tr.bbp-reply-header td,
#content table.bbp-topic tr.bbp-topic-header td{
	background-color: lighten(@bbpress-contrast, 9);
	color: fadeout(@pl-text, 40%);
}

#content fieldset.bbp-form,
#container fieldset.bbp-form,
#wrapper fieldset.bbp-form {
	border: 1px solid darken(@bbpress-contrast, 5);
}

span.bbp-admin-links,
#content .bbp-admin-links,
span.bbp-admin-links a, 
a.bbp-topic-permalink,
a.bbp-reply-permalink, 
span.bbp-author-ip, 
#content .bbp-admin-links, 
.bbp-template-notice a:hover{
	color: fadeout(@pl-text, 60%);
}

.bbp-template-notice, div.bbp-template-notice.info {
	border: 1px solid darken(@bbpress-contrast, @invert-dark+5);
	background-color: darken(@bbpress-contrast, @invert-dark+2);
}